MiniSAHA.json
[
    {
        "id": "a380efb730bea147",
        "type": "tab",
        "label": "StateMachine",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e372cb3d08d9182",
        "type": "tab",
        "label": "UI_Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c14e0941d341b42",
        "type": "tab",
        "label": "UI_Instellingen",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "805ca89d3f050d7e",
        "type": "tab",
        "label": "UI_Power",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "672443afdce2e6a4",
        "type": "tab",
        "label": "UI_Thuis?",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af31bf2fe058f803",
        "type": "tab",
        "label": "UI_About",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb60a9ea21d42f29",
        "type": "tab",
        "label": "Tester",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd2a966b.302e18",
        "type": "subflow",
        "name": "CheckIsAtHome",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 360,
                "wires": [
                    {
                        "id": "41839ea3.d361b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1040,
                "y": 60,
                "wires": [
                    {
                        "id": "f98fba99.4f5198",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1080,
                "y": 120,
                "wires": [
                    {
                        "id": "f98fba99.4f5198",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1090,
                "y": 460,
                "wires": [
                    {
                        "id": "9c091226.6a239",
                        "port": 2
                    }
                ]
            },
            {
                "x": 410,
                "y": 300,
                "wires": [
                    {
                        "id": "41839ea3.d361b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "inputLabels": [
            "Create CheckAlive script"
        ],
        "outputLabels": [
            "IsAtHome",
            "SuccededPingCount",
            "Result start script",
            "Debug"
        ],
        "status": {
            "x": 1040,
            "y": 180,
            "wires": [
                {
                    "id": "f98fba99.4f5198",
                    "port": 2
                }
            ]
        }
    },
    {
        "id": "7a37030e3e3276d9",
        "type": "subflow",
        "name": "CheckIsAtHome (1)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 360,
                "wires": [
                    {
                        "id": "e0fbb4a9fd0354d0"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1040,
                "y": 60,
                "wires": [
                    {
                        "id": "9aa4521d2bf238c3",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1080,
                "y": 120,
                "wires": [
                    {
                        "id": "9aa4521d2bf238c3",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1090,
                "y": 460,
                "wires": [
                    {
                        "id": "85ce8a28740483a4",
                        "port": 2
                    }
                ]
            },
            {
                "x": 410,
                "y": 300,
                "wires": [
                    {
                        "id": "e0fbb4a9fd0354d0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "inputLabels": [
            "Create CheckAlive script"
        ],
        "outputLabels": [
            "IsAtHome",
            "SuccededPingCount",
            "Result start script",
            "Debug"
        ],
        "status": {
            "x": 1040,
            "y": 180,
            "wires": [
                {
                    "id": "9aa4521d2bf238c3",
                    "port": 2
                }
            ]
        }
    },
    {
        "id": "0839f7b4c0cbb0a8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6c1d30b5f16932dd",
        "type": "ui-base",
        "name": "ui_page",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "72011230335eaee3",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#087d10",
            "primary": "#0094ce",
            "bgPage": "#0d19c9",
            "groupBg": "#0d19c9",
            "groupOutline": "#0d19c9"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "0px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d0f6689a06670cb7",
        "type": "ui-page",
        "name": "Power",
        "ui": "6c1d30b5f16932dd",
        "path": "/page3",
        "icon": "power",
        "layout": "grid",
        "theme": "72011230335eaee3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "74e147230f204214",
        "type": "ui-page",
        "name": "Safe At Home Alone",
        "ui": "6c1d30b5f16932dd",
        "path": "/page1",
        "icon": "account-question",
        "layout": "grid",
        "theme": "72011230335eaee3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "4"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ab8f5143a421d4e8",
        "type": "ui-page",
        "name": "Instellingen",
        "ui": "6c1d30b5f16932dd",
        "path": "/page2",
        "icon": "cog-outline",
        "layout": "grid",
        "theme": "72011230335eaee3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "5"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "4"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "62dcfc2bccdba69b",
        "type": "ui-page",
        "name": "Thuis?",
        "ui": "6c1d30b5f16932dd",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "72011230335eaee3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1dd0da4fdcd94089",
        "type": "ui-page",
        "name": "About",
        "ui": "6c1d30b5f16932dd",
        "path": "/page5",
        "icon": "information",
        "layout": "grid",
        "theme": "72011230335eaee3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "1770a740435c7f75",
        "type": "ui-group",
        "name": "Power",
        "page": "d0f6689a06670cb7",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4de3d58d68afebf3",
        "type": "ui-group",
        "name": "MiniSAHA",
        "page": "74e147230f204214",
        "width": "5",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a50d14b208aa0231",
        "type": "ui-group",
        "name": "Instellingen",
        "page": "ab8f5143a421d4e8",
        "width": "5",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5e23302aa37603c6",
        "type": "ui-group",
        "name": "Is thuis",
        "page": "62dcfc2bccdba69b",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "adc719ee09b9438b",
        "type": "ui-group",
        "name": "About",
        "page": "1dd0da4fdcd94089",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c5ea61b98d8ee55d",
        "type": "ui-page",
        "name": "Tester",
        "ui": "6c1d30b5f16932dd",
        "path": "/page6",
        "icon": "home",
        "layout": "grid",
        "theme": "72011230335eaee3",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 6,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "b71c0e77d9debcfd",
        "type": "ui-group",
        "name": "Tester",
        "page": "c5ea61b98d8ee55d",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "41839ea3.d361b",
        "type": "function",
        "z": "bd2a966b.302e18",
        "name": "create checkIsAtHome script",
        "func": "var pingCount = msg.payload.PingCount;\nvar ipAddress = msg.payload.IPAddress;\nflow.set(\"IPAddress\", ipAddress);\n\nvar scriptFileName = \"checkIsAtHome\" + ipAddress;\nmsg = { filename:  scriptFileName };\n\nmsg.payload = \"#!/bin/bash\\nwhile true; do sudo arping -c \" + \npingCount + \n\" \" + ipAddress +\n\" > checkIsAtHome\" + ipAddress +\n\".temp ; cp checkIsAtHome\" + ipAddress + \".temp \" + \n\"checkIsAtHome\" + ipAddress + \".output; done\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "902e5ac4.84f2b"
            ]
        ]
    },
    {
        "id": "902e5ac4.84f2b",
        "type": "file",
        "z": "bd2a966b.302e18",
        "name": "store in file",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "74c702c8.65efb4"
            ]
        ]
    },
    {
        "id": "36d25876.739588",
        "type": "exec",
        "z": "bd2a966b.302e18",
        "command": "chmod +x ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "make file executable",
        "x": 800,
        "y": 360,
        "wires": [
            [],
            [],
            [
                "5f4eee7c.2e29a"
            ]
        ]
    },
    {
        "id": "8f57678f.b55d08",
        "type": "exec",
        "z": "bd2a966b.302e18",
        "command": "pkill -f ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "stop previous process",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "c4a15a03.9be1e"
            ],
            [],
            []
        ]
    },
    {
        "id": "9c091226.6a239",
        "type": "exec",
        "z": "bd2a966b.302e18",
        "command": "bash -c ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "start checkIsAtHome in background",
        "x": 820,
        "y": 440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c4a15a03.9be1e",
        "type": "function",
        "z": "bd2a966b.302e18",
        "name": "get cmd string",
        "func": "var ipAddress = flow.get(\"IPAddress\");\n\nmsg.payload = \" \\\"exec -a checkIsAtHome\" + ipAddress + \n              \" ./checkIsAtHome\" + ipAddress + \"\\\"&\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 440,
        "wires": [
            [
                "9c091226.6a239"
            ]
        ]
    },
    {
        "id": "faaf1234.933d38",
        "type": "comment",
        "z": "bd2a966b.302e18",
        "name": "Start checkIsAtHome script in the background upon startup",
        "info": "",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "74f775fe.79f4cc",
        "type": "comment",
        "z": "bd2a966b.302e18",
        "name": "Precondition: sudo apt-get install arping !!!!!!!!!!!!!!!!!",
        "info": "",
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "b34deede.8145b",
        "type": "inject",
        "z": "bd2a966b.302e18",
        "name": "Regularly (30 s)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "95f84901.8005a8"
            ]
        ]
    },
    {
        "id": "3da93624.ce870a",
        "type": "file in",
        "z": "bd2a966b.302e18",
        "name": "read file",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 480,
        "y": 100,
        "wires": [
            [
                "f98fba99.4f5198"
            ]
        ]
    },
    {
        "id": "f98fba99.4f5198",
        "type": "function",
        "z": "bd2a966b.302e18",
        "name": "Return IsAtHome, SucceededPingCount, status",
        "func": "// get the ping count:\nvar succeededPingCount = 0;\nvar pos = 0;\nvar i = -1;\n\nwhile (pos != -1) {\n  pos = msg.payload.indexOf(\"index=\", i + 1);\n  if (pos != -1) succeededPingCount += 1;\n  i = pos;\n}\n\nvar result = succeededPingCount > 0 ? 1 : 0;\nmsg = { payload: result, topic: flow.get(\"IPAddress\") };\n\nvar msg_SucceededPingCount = { payload: succeededPingCount };\n\nvar msg_Status = { payload: flow.get(\"IPAddress\") + \", \" + Boolean(result) + \", \" + succeededPingCount};\n\nreturn [ msg, msg_SucceededPingCount, msg_Status ];\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8dca38e7.59b758",
        "type": "comment",
        "z": "bd2a966b.302e18",
        "name": "Check if person is at home",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "95f84901.8005a8",
        "type": "function",
        "z": "bd2a966b.302e18",
        "name": "Get filename",
        "func": "var fileName = \"checkIsAtHome\" + flow.get(\"IPAddress\") + \".output\";\n\nmsg = { filename:  fileName };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "3da93624.ce870a"
            ]
        ]
    },
    {
        "id": "74c702c8.65efb4",
        "type": "function",
        "z": "bd2a966b.302e18",
        "name": "get scriptName",
        "func": "msg.payload = \"checkIsAtHome\" + flow.get(\"IPAddress\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 360,
        "wires": [
            [
                "36d25876.739588"
            ]
        ]
    },
    {
        "id": "5f4eee7c.2e29a",
        "type": "function",
        "z": "bd2a966b.302e18",
        "name": "get scriptName",
        "func": "msg.payload = \"checkIsAtHome\" + flow.get(\"IPAddress\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "8f57678f.b55d08"
            ]
        ]
    },
    {
        "id": "e0fbb4a9fd0354d0",
        "type": "function",
        "z": "7a37030e3e3276d9",
        "name": "create checkIsAtHome script",
        "func": "var pingCount = msg.payload.PingCount;\nvar ipAddress = msg.payload.IPAddress;\nflow.set(\"IPAddress\", ipAddress);\n\nvar scriptFileName = \"checkIsAtHome\" + ipAddress;\nmsg = { filename:  scriptFileName };\n\nmsg.payload = \"#!/bin/bash\\nwhile true; do sudo arping -c \" + \npingCount + \n\" \" + ipAddress +\n\" > checkIsAtHome\" + ipAddress +\n\".temp ; cp checkIsAtHome\" + ipAddress + \".temp \" + \n\"checkIsAtHome\" + ipAddress + \".output; done\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "cb34ef38b28112f1"
            ]
        ]
    },
    {
        "id": "cb34ef38b28112f1",
        "type": "file",
        "z": "7a37030e3e3276d9",
        "name": "store in file",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "c07fb01cbd0e1a36"
            ]
        ]
    },
    {
        "id": "f75c33f15a6f1e9a",
        "type": "exec",
        "z": "7a37030e3e3276d9",
        "command": "chmod +x ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "make file executable",
        "x": 800,
        "y": 360,
        "wires": [
            [],
            [],
            [
                "9db7a230d8d8ded9"
            ]
        ]
    },
    {
        "id": "5d6fe42a49b745c9",
        "type": "exec",
        "z": "7a37030e3e3276d9",
        "command": "pkill -f ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "stop previous process",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "6799203e85ef9a07"
            ],
            [],
            []
        ]
    },
    {
        "id": "85ce8a28740483a4",
        "type": "exec",
        "z": "7a37030e3e3276d9",
        "command": "bash -c ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "start checkIsAtHome in background",
        "x": 820,
        "y": 440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6799203e85ef9a07",
        "type": "function",
        "z": "7a37030e3e3276d9",
        "name": "get cmd string",
        "func": "var ipAddress = flow.get(\"IPAddress\");\n\nmsg.payload = \" \\\"exec -a checkIsAtHome\" + ipAddress + \n              \" ./checkIsAtHome\" + ipAddress + \"\\\"&\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 440,
        "wires": [
            [
                "85ce8a28740483a4"
            ]
        ]
    },
    {
        "id": "3d04040c2df879b0",
        "type": "comment",
        "z": "7a37030e3e3276d9",
        "name": "Start checkIsAtHome script in the background upon startup",
        "info": "",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "a45022df36c5af08",
        "type": "comment",
        "z": "7a37030e3e3276d9",
        "name": "Precondition: sudo apt-get install arping !!!!!!!!!!!!!!!!!",
        "info": "",
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "76386622c0e5a3fe",
        "type": "inject",
        "z": "7a37030e3e3276d9",
        "name": "Regularly (30 s)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "86e654aae39d4d9a"
            ]
        ]
    },
    {
        "id": "238df2dd7c8038ee",
        "type": "file in",
        "z": "7a37030e3e3276d9",
        "name": "read file",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 480,
        "y": 100,
        "wires": [
            [
                "9aa4521d2bf238c3"
            ]
        ]
    },
    {
        "id": "9aa4521d2bf238c3",
        "type": "function",
        "z": "7a37030e3e3276d9",
        "name": "Return IsAtHome, SucceededPingCount, status",
        "func": "// get the ping count:\nvar succeededPingCount = 0;\nvar pos = 0;\nvar i = -1;\n\nwhile (pos != -1) {\n  pos = msg.payload.indexOf(\"index=\", i + 1);\n  if (pos != -1) succeededPingCount += 1;\n  i = pos;\n}\n\nvar result = succeededPingCount > 0 ? 1 : 0;\nmsg = { payload: result, topic: flow.get(\"IPAddress\") };\n\nvar msg_SucceededPingCount = { payload: succeededPingCount };\n\nvar msg_Status = { payload: flow.get(\"IPAddress\") + \", \" + Boolean(result) + \", \" + succeededPingCount};\n\nreturn [ msg, msg_SucceededPingCount, msg_Status ];\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "42db7e7a4a70564a",
        "type": "comment",
        "z": "7a37030e3e3276d9",
        "name": "Check if person is at home",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "86e654aae39d4d9a",
        "type": "function",
        "z": "7a37030e3e3276d9",
        "name": "Get filename",
        "func": "var fileName = \"checkIsAtHome\" + flow.get(\"IPAddress\") + \".output\";\n\nmsg = { filename:  fileName };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "238df2dd7c8038ee"
            ]
        ]
    },
    {
        "id": "c07fb01cbd0e1a36",
        "type": "function",
        "z": "7a37030e3e3276d9",
        "name": "get scriptName",
        "func": "msg.payload = \"checkIsAtHome\" + flow.get(\"IPAddress\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 360,
        "wires": [
            [
                "f75c33f15a6f1e9a"
            ]
        ]
    },
    {
        "id": "9db7a230d8d8ded9",
        "type": "function",
        "z": "7a37030e3e3276d9",
        "name": "get scriptName",
        "func": "msg.payload = \"checkIsAtHome\" + flow.get(\"IPAddress\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "5d6fe42a49b745c9"
            ]
        ]
    },
    {
        "id": "8c1fa1cfe914c30b",
        "type": "inject",
        "z": "7a37030e3e3276d9",
        "name": "Once after 5 s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "86e654aae39d4d9a"
            ]
        ]
    },
    {
        "id": "86a3b683d730904f",
        "type": "inject",
        "z": "a380efb730bea147",
        "name": "Every 10 s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "04335944abb7d75d"
            ]
        ]
    },
    {
        "id": "dc25463a90653c93",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "Tijd triggers",
        "func": "// hoe laat is het nu?\nvar tijd_nu = global.get(\"getTime\")();\nlet tijd_nu_ms = global.get(\"tijdNaarMs\")(tijd_nu);\nlet meldingstijdGebruiker_ms = global.get(\"tijdNaarMs\")(global.get(\"TijdOK\"));\nlet beginTijdVraag_ms = meldingstijdGebruiker_ms - 120 * 60000;\nlet eindTijdVraag_ms = meldingstijdGebruiker_ms + global.get(\"MeldPeriodeInMinuten\") * 60000;\n\n// Wanneer is het tijd om een vraag te stellen (2 uur voor de aangegeven tijd)?\nif ((tijd_nu_ms >= beginTijdVraag_ms) &&\n    (tijd_nu_ms <  meldingstijdGebruiker_ms)) {\n    msg.payload = \"beginVraagTijdVoorbij\";\n    node.status({ text: tijd_nu + \": beginVraagTijdVoorbij\" });\n    return msg;\n}\n\n// Wanneer is het tijd om een meldingen te sturen naar de gebruiker?\nif ((tijd_nu_ms >= meldingstijdGebruiker_ms) && \n    (tijd_nu_ms <  eindTijdVraag_ms)) {\n    msg.payload = \"meldingstijdGebruikerVoorbij\";\n    node.status({ text: tijd_nu + \": meldingstijdGebruikerVoorbij\" });\n    return msg;\n}\n\n// Wanneer is het tijd om een email te sturen naar de sleutelbewaarders?\nif (tijd_nu_ms >= eindTijdVraag_ms) {\n    msg.payload = \"eindVraagTijdVoorbij\";\n    node.status({ text: tijd_nu + \": eindVraagTijdVoorbij\" });\n    return msg;\n}\n\nif (tijd_nu_ms == 0) {\n    msg.payload = \"middernacht\";\n    node.status({ text: tijd_nu + \": middernacht\" });\n    return msg;\n}\n\nreturn;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 300,
        "wires": [
            [
                "72150be82696bdfc"
            ]
        ]
    },
    {
        "id": "2fe001daedc674d9",
        "type": "mqtt in",
        "z": "a380efb730bea147",
        "name": "",
        "topic": "jaPressed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0839f7b4c0cbb0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "72150be82696bdfc"
            ]
        ]
    },
    {
        "id": "f80c926aa5f4b4e1",
        "type": "mqtt in",
        "z": "a380efb730bea147",
        "name": "",
        "topic": "neePressed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0839f7b4c0cbb0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 420,
        "wires": [
            [
                "72150be82696bdfc"
            ]
        ]
    },
    {
        "id": "94fd03500445951f",
        "type": "mqtt out",
        "z": "a380efb730bea147",
        "name": "",
        "topic": "StateChanged",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0839f7b4c0cbb0a8",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "6c1f652de628f1be",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "Gebruiker",
        "func": "var tijd_nu = global.get(\"getTime\")();\n\nlet text = \"Beste \" + global.get(\"VoornaamGebruiker\") + \n           \", \\n\\n\" + \n\n           \"Ben je OK? Open de MiniSAHA app en bevestig.\";\n\nlet emailGebruiker = global.get(\"EmailGebruiker\") || \"\";\nif (emailGebruiker.indexOf(\"@\") == -1) {\n    msg.payload = \"Geen email gebruiker opgegeven.\"\n    node.status({ text: \"Send: \" + tijd_nu + \n    \" no emailgebruiker: \" + emailGebruiker });\n    return [null, msg];\n}\n\nmsg = {\n    to: emailGebruiker,\n    from: \"safeathomealone@gmail.com\",\n    topic: \"MiniSAHA: ben je OK?\",\n    payload: text\n}\n\nnode.status({ text: \"Send: \" + tijd_nu});\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 580,
        "wires": [
            [
                "df1878820d0f62c5"
            ],
            [
                "d2cb97a83ac20cfa"
            ]
        ]
    },
    {
        "id": "32e7240df75d8f3a",
        "type": "comment",
        "z": "a380efb730bea147",
        "name": "https://www.w3schools.com/js/js_date_reference.asp",
        "info": "",
        "x": 190,
        "y": 1060,
        "wires": []
    },
    {
        "id": "04335944abb7d75d",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "Als Systerm is On en is thuis",
        "func": "var tijd_nu = global.get(\"getTime\")();\n\nvar isSystemOn = global.get(\"SystemOn\");\nif (!isSystemOn) {\n    node.status({ text: tijd_nu + \": System is Off\" });\n    return;\n}\n\nvar isThuis = global.get(\"GebruikerIsAtHome\");\n\nvar ipMobiel = global.get(\"IP_Mobiel\");\nif (!(ipMobiel && ipMobiel.length > 0)) {\n    isThuis= true;\n}\nlet isThuisString = isThuis ? \": is thuis\" : \": niet thuis\";\nlet currentState = global.get(\"currentState\");\nnode.status({ text: tijd_nu + isThuisString + \", state: \" + currentState });\n\nif (isThuis) {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "dc25463a90653c93"
            ]
        ]
    },
    {
        "id": "070af656b33c1a19",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "Alarm email",
        "func": "let emailSleutelbewaarder1 = global.get(\"EmailSleutelbewaarder1\") || \"\";\nlet emailSleutelbewaarder2 = global.get(\"EmailSleutelbewaarder2\") || \"\";\n\nif (emailSleutelbewaarder1 == \"\" && emailSleutelbewaarder2 == \"\") {\n  node.status({ text: \"Send: \" + tijd_nu  + \" geen mantelzorgers\"});\n  return;\n}\n\nvar bericht = \"Beste mantelzorger, \" +\n    \"\\n\\nNeem contact op met \" +\n    global.get(\"VoornaamGebruiker\") +\n    \" want hij heeft niet gereageerd op de dagelijkse melding.\";\n\nif (emailSleutelbewaarder2 != \"\") {\n  bericht = \"Beste eerste Mantelzorger, \" +\n    \"\\n\\nNeem contact op met \" +\n    global.get(\"VoornaamGebruiker\") + \n    \" want hij heeft niet gereageerd op de dagelijkse melding.\" +\n    \"\\nStuur ook (via een reply to all) een bericht naar \" +\n    emailSleutelbewaarder2 + \n    \" dat je actie onderneemt.\" +\n    \"\\n\\nBeste tweede Mantelzorger,\" +\n    \"\\n\\nMocht je binnen een half uur na dit bericht geen bericht hebben ontvangen van de eerste Mantelzorger, neem dan zelf contact op met de gebruiker en laat dat de eerste Mantelzorger ook weten.\"\n}\n\nmsg.topic = \"MiniSAHA: er is niet gereageerd\";\nmsg.payload = bericht;\n\nvar tijd_nu = global.get(\"getTime\")();\nnode.status({ text: \"Send: \" + tijd_nu });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 680,
        "wires": [
            [
                "0d0b3ee379dc41b0"
            ]
        ]
    },
    {
        "id": "0d0b3ee379dc41b0",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "Sleutelbewaarders",
        "func": "var text = msg.payload;\n\nmsg = {\n    to: global.get(\"EmailSleutelbewaarder1\"),\n    cc: global.get(\"EmailSleutelbewaarder2\"),\n    from: \"safeathomealone@gmail.com\",\n    topic: msg.topic,\n    payload: text\n}\n\nvar tijd_nu = global.get(\"getTime\")();\nnode.status({ text: \"Send: \" + tijd_nu });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 740,
        "wires": [
            [
                "df1878820d0f62c5"
            ]
        ]
    },
    {
        "id": "0aaa14729a8e7b05",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "currentState=Idle",
        "func": "global.set(\"currentState\", \"Idle\");\n\nvar tijd_nu = global.get(\"getTime\")();\nnode.status({ text: tijd_nu + \" currentState=Idle\"});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [
            [
                "94fd03500445951f"
            ]
        ]
    },
    {
        "id": "7e9bbcf4c96e333a",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "Niet OK",
        "func": "var bericht = global.get(\"VoornaamGebruiker\") + \", (\" + global.get(\"EmailGebruiker\") + \")\" +\n    \" heeft NEE geantwoord op de vraag of hij OK was.\"\n\nmsg.topic = \"MiniSAHA: \" + bericht;\n\nmsg.payload = bericht + \n              \"\\nBel hem op nummer: \" +\n              global.get(\"MobielGebruiker\");\n\nvar tijd_nu = global.get(\"getTime\")();\nnode.status({ text: \"Send: \" + tijd_nu });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 740,
        "wires": [
            [
                "0d0b3ee379dc41b0"
            ]
        ]
    },
    {
        "id": "72150be82696bdfc",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "StateMachine",
        "func": "let states = global.get(\"states\");\nvar tijd_nu = global.get(\"getTime\")();\nlet currentState = global.get(\"currentState\");\nlet previousState = currentState;\nglobal.set(\"previousState\", previousState);\n\nlet trigger = msg.payload;\n\nswitch (currentState) {\n    case states.IDLE: {\n        if (trigger == \"beginVraagTijdVoorbij\") currentState = states.TOONOKVRAAG;\n        if (trigger == \"meldingstijdGebruikerVoorbij\") currentState = states.MELDGEBRUIKER;\n        break;\n    }\n    case states.TOONOKVRAAG: {\n        if (trigger == \"middernacht\") currentState = states.IDLE; \n        if (trigger == \"jaPressed\") currentState = states.ISOK;\n        if (trigger == \"neePressed\") currentState = states.ISNOTOK;\n        if (trigger == \"meldingstijdGebruikerVoorbij\") currentState = states.MELDGEBRUIKER;\n        if (trigger == \"eindVraagTijdVoorbij\") currentState = states.OVERTIJD;\n        break;\n    }\n    case states.MELDGEBRUIKER: {\n        if (trigger == \"middernacht\") currentState = states.IDLE; \n        if (trigger == \"jaPressed\") currentState = states.ISOK;\n        if (trigger == \"neePressed\") currentState = states.ISNOTOK;\n        if (trigger == \"eindVraagTijdVoorbij\") currentState = states.OVERTIJD;\n        break;\n    }\n    case states.ISOK: {\n        if (trigger == \"middernacht\") currentState = states.IDLE; \n        break;\n    }\n    case states.ISNOTOK: {\n        if (trigger == \"middernacht\") currentState = states.IDLE; \n        break;\n    }\n    case states.ISOK_OVERTIJD: {\n        if (trigger == \"middernacht\") currentState = states.IDLE; \n        break;\n    }\n    case states.ISNOTOK_OVERTIJD: {\n        if (trigger == \"middernacht\") currentState = states.IDLE; \n        break;\n    }\n    case states.OVERTIJD: {\n        if (trigger == \"middernacht\") currentState = states.IDLE; \n        if (trigger == \"jaPressed\") currentState = states.ISOK_OVERTIJD;\n        if (trigger == \"neePressed\") currentState = states.ISNOTOK_OVERTIJD;\n        break;\n    }\n}\n\nglobal.set(\"currentState\", currentState);\n\nnode.status({ text: tijd_nu + \" State: \" + currentState });\n\nif (currentState != previousState) {\n    msg.payload = currentState;\n    return msg;\n}\nelse\n    return;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "94fd03500445951f",
                "97cd5aa2eb055baf"
            ]
        ]
    },
    {
        "id": "97cd5aa2eb055baf",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "Email action",
        "func": "var tijd_nu = global.get(\"getTime\")();\nlet currentState = global.get(\"currentState\");\nlet previousState = global.get(\"previousState\");\n\nlet states = global.get(\"states\");\nswitch (currentState) {\n    case states.IDLE: {\n        msg.reset = true;\n        node.status({ text: tijd_nu + \", IDLE\" });\n        return [msg, null, null, null];\n    }\n    case states.TOONOKVRAAG: {\n        node.status({ text: tijd_nu + \", TOONOKVRAAG\" });\n        break;\n    }\n    case states.MELDGEBRUIKER: {\n        msg.delay = global.get(\"Herinnering\") * 60000;\n        node.status({ text: tijd_nu + \", MELDGEBRUIKER, delay (min): \" + global.get(\"Herinnering\") });\n        return [msg, null, null, null];\n    }\n    case states.ISOK: {\n        msg.reset = true;\n        node.status({ text: tijd_nu + \", reset timer, ISOK\" });\n        return [msg, null, null, null];\n    }\n    case states.ISNOTOK: {\n        msg.reset = true;\n        node.status({ text: tijd_nu + \", ISNOTOK\" });\n        return [msg, null, msg, null];\n    }\n    case states.ISOK_OVERTIJD: {\n        msg.reset = true;\n        msg.payload = \"JA\";\n        if (currentState != previousState)\n            node.status({ text: tijd_nu + \", ISOK_OVERTIJD\" });\n            return [msg, null, null, msg];\n        break;\n    }\n    case states.ISNOTOK_OVERTIJD: {\n        msg.reset = true;\n        msg.payload = \"NEE\";\n        if (currentState != previousState)\n            node.status({ text: tijd_nu + \", ISNOTOK_OVERTIJD\" });\n            return [msg, null, null, msg];\n        break;\n    }\n    case states.OVERTIJD: {\n        if (currentState != previousState) {\n            node.status({ text: tijd_nu + \", OVERTIJD\" });\n            return [null, msg, null, null];\n        }\n    }\n}\nreturn;\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 700,
        "wires": [
            [
                "7406ab9d8567cc25"
            ],
            [
                "070af656b33c1a19"
            ],
            [
                "7e9bbcf4c96e333a"
            ],
            [
                "f66c2ba033e71dfe"
            ]
        ]
    },
    {
        "id": "f66c2ba033e71dfe",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "Overtijd",
        "func": "msg.topic = \"MiniSAHA: alsnog op \" + msg.payload + \" gedrukt\";\n\nvar bericht = \"Beste mantelzorger(s), \\n\\n\"+ \n    global.get(\"VoornaamGebruiker\") + \n    \", heeft alsnog \" + msg.payload + \n    \" geantwoord op de vraag of hij OK was.\"\n\nmsg.payload = bericht;\n\nvar tijd_nu = global.get(\"getTime\")(); \nnode.status({ text: \"Send: \" + tijd_nu });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 800,
        "wires": [
            [
                "0d0b3ee379dc41b0"
            ]
        ]
    },
    {
        "id": "df1878820d0f62c5",
        "type": "e-mail",
        "z": "a380efb730bea147",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 750,
        "y": 740,
        "wires": []
    },
    {
        "id": "e95199098a8ec21d",
        "type": "mqtt in",
        "z": "a380efb730bea147",
        "name": "",
        "topic": "TijdOKChanged",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0839f7b4c0cbb0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "0aaa14729a8e7b05"
            ]
        ]
    },
    {
        "id": "7406ab9d8567cc25",
        "type": "trigger",
        "z": "a380efb730bea147",
        "name": "Repeat",
        "op1": "aaa",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "6c1f652de628f1be"
            ],
            [
                "c9f88ef493593187"
            ]
        ]
    },
    {
        "id": "c9f88ef493593187",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "loop back",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            [
                "7406ab9d8567cc25"
            ]
        ]
    },
    {
        "id": "f07ba5eecb0df09e",
        "type": "catch",
        "z": "a380efb730bea147",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 280,
        "y": 920,
        "wires": [
            [
                "c62f2246190847d4",
                "cf1901877bfe59a8",
                "8322868abe70e928"
            ]
        ]
    },
    {
        "id": "8322868abe70e928",
        "type": "debug",
        "z": "a380efb730bea147",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 980,
        "wires": []
    },
    {
        "id": "c62f2246190847d4",
        "type": "mqtt out",
        "z": "a380efb730bea147",
        "name": "",
        "topic": "EmailError",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0839f7b4c0cbb0a8",
        "x": 770,
        "y": 920,
        "wires": []
    },
    {
        "id": "98a637c918e7ffb3",
        "type": "inject",
        "z": "a380efb730bea147",
        "name": "At Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "93e66aed5528479a"
            ]
        ]
    },
    {
        "id": "93e66aed5528479a",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "Set global functions",
        "func": "global.set(\"tijdNaarMs\", function (tijd) { // e.g. \"09:15\"\n    let [h, m] = tijd.split(\":\").map(Number);\n    return (h * 60 + m) * 60000;\n});\n\nglobal.set(\"getTime\", function () {\n    let now = new Date();\n    return ('0' + now.getHours()).slice(-2) + \":\" + ('0' + now.getMinutes()).slice(-2);\n});\n\nglobal.set(\"states\", {\n    IDLE: \"Idle\",\n    TOONOKVRAAG: \"ToonOkVraag\",\n    MELDGEBRUIKER: \"MeldGebruiker\",\n    ISOK: \"IsOk\",\n    ISNOTOK: \"IsNotOk\",\n    ISOK_OVERTIJD: \"IsOk_OverTijd\",\n    ISNOTOK_OVERTIJD: \"IsNotOk_OverTijd\",\n    OVERTIJD: \"OverTijd\"\n});\n\nvar tijd_nu = global.get(\"getTime\")();\nnode.status({ text: tijd_nu + \" global functions created\"});\n\nglobal.set(\"currentState\", global.get(\"currentState\") ?? \"Idle\");\nglobal.set(\"TijdOK\", global.get(\"TijdOK\") ?? \" \");\nglobal.set(\"VoornaamGebruiker\", global.get(\"VoornaamGebruiker\") ?? \"\");\nglobal.set(\"EmailGebruiker\", global.get(\"EmailGebruiker\") ?? \"\");\nglobal.set(\"EmailSleutelbewaarder1\", global.get(\"EmailSleutelbewaarder1\") ?? \"\");\nglobal.set(\"EmailSleutelbewaarder2\", global.get(\"EmailSleutelbewaarder2\") ?? \"\");\n\nglobal.set(\"currentState\", \"Idle\");\nglobal.set(\"previousState\", \"Idle\");\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 40,
        "wires": [
            [
                "391e6a39648d43b8"
            ]
        ]
    },
    {
        "id": "391e6a39648d43b8",
        "type": "delay",
        "z": "a380efb730bea147",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 40,
        "wires": [
            [
                "94fd03500445951f"
            ]
        ]
    },
    {
        "id": "cf1901877bfe59a8",
        "type": "function",
        "z": "a380efb730bea147",
        "name": "Paul",
        "func": "var text = msg.payload.error + \", \" +\nmsg.payload.error.source.name + \", \";\n\nmsg = {\n    to: \"paullangemeijer@hotmail.com\",\n    from: \"safeathomealone@gmail.com\",\n    topic: \"MiniSAHA: fout\",\n    payload: text\n}\n\nvar tijd_nu = global.get(\"getTime\")();\nnode.status({ text: \"Send: \" + tijd_nu});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 860,
        "wires": [
            [
                "4f39baa7dbd5d547"
            ]
        ]
    },
    {
        "id": "4f39baa7dbd5d547",
        "type": "delay",
        "z": "a380efb730bea147",
        "name": "Rate limit",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 860,
        "wires": [
            [
                "df1878820d0f62c5"
            ]
        ]
    },
    {
        "id": "d2cb97a83ac20cfa",
        "type": "mqtt out",
        "z": "a380efb730bea147",
        "name": "",
        "topic": "EmailError",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0839f7b4c0cbb0a8",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "86d57ce8cd9b65da",
        "type": "mqtt in",
        "z": "1e372cb3d08d9182",
        "name": "",
        "topic": "StateChanged",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0839f7b4c0cbb0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "3be586184e50e4ea",
                "d14d455208d7b126",
                "d283ae10f4012c17"
            ]
        ]
    },
    {
        "id": "753a239026080219",
        "type": "mqtt out",
        "z": "1e372cb3d08d9182",
        "name": "",
        "topic": "jaPressed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0839f7b4c0cbb0a8",
        "x": 840,
        "y": 100,
        "wires": []
    },
    {
        "id": "99b664e80a1908c6",
        "type": "mqtt out",
        "z": "1e372cb3d08d9182",
        "name": "",
        "topic": "neePressed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0839f7b4c0cbb0a8",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "3be586184e50e4ea",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "Enable/Disable",
        "func": "var msg = { enabled: false, \n    ui_update: { textColor: \"gray\" } };\n            \nlet states = global.get(\"states\");\nswitch (global.get(\"currentState\")) {\n    case states.TOONOKVRAAG:\n    case states.MELDGEBRUIKER: \n    case states.OVERTIJD: {\n        var msg = {\n            enabled: true,\n            ui_update: { textColor: \"white\" } };\n        break;\n    }\n    default: {\n        break;\n    }\n}\n\n\nvar now = new Date();\nvar tijd_nu = now.getHours() + \":\" + ('0' + now.getMinutes()).slice(-2);\nnode.status({ text: tijd_nu + \" \" + msg.enabled });\nreturn msg;\n\n/*\n\"red\"\n\"blue\"\n\"green\"\n\"yellow\"\n\"orange\"\n\"purple\"\n\"pink\"\n\"brown\"\n\"black\"\n\"white\"\n\"gray\"\n\n Extra veelgebruikte tinten\n\"cyan\" (lichtblauw)\n\"magenta\" (fel roze/paars)\n\"lime\" (felgroen)\n\"navy\" (donkerblauw)\n\"teal\" (blauwgroen)\n\"olive\" (olijfgroen)\n\"maroon\" (donkerrood)\n\"silver\" (lichtgrijs)\n\"gold\" (goudkleurig)\n\"indigo\" (diep paars/blauw)\n*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "a5f6fedc4ec48281",
                "e9fa22955a89da80"
            ]
        ]
    },
    {
        "id": "dd466b9403f2d8f4",
        "type": "inject",
        "z": "1e372cb3d08d9182",
        "name": "OnStartup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Welkom!",
        "payloadType": "str",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "5f66bb58047a17de",
                "b2ce6b3ac89473bf"
            ]
        ]
    },
    {
        "id": "75841af45dc440b7",
        "type": "comment",
        "z": "1e372cb3d08d9182",
        "name": "icons: https://pictogrammers.com/library/mdi/",
        "info": "",
        "x": 210,
        "y": 520,
        "wires": []
    },
    {
        "id": "55d46207a0c02be9",
        "type": "change",
        "z": "1e372cb3d08d9182",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "SystemOn",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "5f66bb58047a17de",
        "type": "change",
        "z": "1e372cb3d08d9182",
        "name": "SystemOn",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "SystemOn",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "00e6d8a574603f71"
            ]
        ]
    },
    {
        "id": "6f050edd963ed167",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "Systeem in/uit geschakeld",
        "func": "var bericht = \"Systeem uitgeschakeld.\";\nif (msg.payload) bericht = \"Systeem ingeschakeld.\";\n\nmsg.payload = bericht;\n\nnode.status({ fill: \"blue\", shape: \"ring\", text: bericht });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 340,
        "wires": [
            [
                "16395cfced8c47cb"
            ]
        ]
    },
    {
        "id": "e9fa22955a89da80",
        "type": "ui-button",
        "z": "1e372cb3d08d9182",
        "group": "4de3d58d68afebf3",
        "name": "Nee",
        "label": "NEE",
        "order": 3,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "JaNeeButton",
        "icon": "",
        "iconPosition": "left",
        "payload": "neePressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "yellow",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "99b664e80a1908c6"
            ]
        ]
    },
    {
        "id": "a5f6fedc4ec48281",
        "type": "ui-button",
        "z": "1e372cb3d08d9182",
        "group": "4de3d58d68afebf3",
        "name": "Ja",
        "label": "JA",
        "order": 2,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "JaNeeButton",
        "icon": "",
        "iconPosition": "left",
        "payload": "jaPressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "yellow",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 610,
        "y": 100,
        "wires": [
            [
                "753a239026080219"
            ]
        ]
    },
    {
        "id": "55706aed47335f02",
        "type": "ui-switch",
        "z": "1e372cb3d08d9182",
        "name": "Systeem actief",
        "label": "Systeem actief:   ",
        "group": "4de3d58d68afebf3",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 640,
        "y": 400,
        "wires": [
            [
                "55d46207a0c02be9",
                "6f050edd963ed167"
            ]
        ]
    },
    {
        "id": "4c44736709d21bb0",
        "type": "ui-text",
        "z": "1e372cb3d08d9182",
        "group": "4de3d58d68afebf3",
        "order": 1,
        "width": "4",
        "height": "2",
        "name": "Vraag",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ffffff",
        "wrapText": true,
        "className": "TextNode",
        "value": "payload",
        "valueType": "msg",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "1c70b188ec53d6ab",
        "type": "ui-text",
        "z": "1e372cb3d08d9182",
        "group": "4de3d58d68afebf3",
        "order": 4,
        "width": "5",
        "height": "2",
        "name": "Response",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ffffff",
        "wrapText": true,
        "className": "TextNode",
        "value": "payload",
        "valueType": "msg",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "b81cb7c076621c31",
        "type": "ui-text",
        "z": "1e372cb3d08d9182",
        "group": "4de3d58d68afebf3",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Alarm bericht",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ffff00",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 730,
        "y": 740,
        "wires": []
    },
    {
        "id": "f720e78159430790",
        "type": "ui-text",
        "z": "1e372cb3d08d9182",
        "group": "4de3d58d68afebf3",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Persoon thuis?",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "131f564f42824545",
        "type": "mqtt in",
        "z": "1e372cb3d08d9182",
        "name": "",
        "topic": "PersoonThuis",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0839f7b4c0cbb0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "b2ce6b3ac89473bf"
            ]
        ]
    },
    {
        "id": "b2ce6b3ac89473bf",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "Ja/Nee",
        "func": "var isThuis = global.get(\"GebruikerIsAtHome\");\n\nvar text = \"FOUT: geen IP adres opgegeven van je mobiel.\";\n\nvar ipMobiel = global.get(\"IP_Mobiel\"); \nif (ipMobiel && ipMobiel.length > 0) {\n    text = isThuis ? \n    \"Je mobiel wordt in huis gedetecteerd.\" : \n    \"FOUT: mobiel niet in huis gedetecteerd!\" ;\n}\n\nvar msg = { payload: text };\nnode.status({ text: text });\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 460,
        "wires": [
            [
                "f720e78159430790"
            ]
        ]
    },
    {
        "id": "d14d455208d7b126",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "Vraag",
        "func": "let states = global.get(\"states\");\nmsg.payload = global.get(\"VoornaamGebruiker\");\n\nswitch (global.get(\"currentState\")) {\n    case states.TOONOKVRAAG: \n    case states.MELDGEBRUIKER: {\n        msg.payload += \", ben je OK?\";\n        break;\n    }\n    case states.OVERTIJD: {\n        msg.payload += \", ben je OK? <br>Overtijd: er is een bericht naar sleutelbewaarder(s) gestuurd.\";\n        break;\n    }    \n    default: {\n        msg.payload += \", er is geen vraag voor nu.\";\n        break;\n    }\n}\n\nvar now = new Date();\nvar tijd_nu = now.getHours() + \":\" + ('0' + now.getMinutes()).slice(-2);\nnode.status({text: tijd_nu + \" \" + msg.payload});\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 40,
        "wires": [
            [
                "4c44736709d21bb0"
            ]
        ]
    },
    {
        "id": "d283ae10f4012c17",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "Response",
        "func": "const states = {\n    IDLE: \"Idle\",\n    TOONOKVRAAG: \"ToonOkVraag\",\n    MELDGEBRUIKER: \"MeldGebruiker\",\n    ISOK: \"IsOk\",\n    ISNOTOK: \"IsNotOk\",\n    ISOK_OVERTIJD: \"IsOk_OverTijd\",\n    ISNOTOK_OVERTIJD: \"IsNotOk_OverTijd\",\n    OVERTIJD: \"OverTijd\"\n};\n\nlet currentState = global.get(\"currentState\");\nlet previousState = global.get(\"previousState\");\n\nmsg.payload = \"\";\nif (currentState != previousState) {\n    switch (global.get(\"currentState\")) {\n        case states.ISOK: {\n            msg.payload = \"Dank je wel! Fijne Dag.\";\n            break;\n        }\n        case states.ISOK_OVERTIJD: {\n            msg.payload = \"Dank je wel! Fijne Dag. <br>De sleutelbewaarder(s) zijn geinformeerd.\";\n            break;\n        }\n        case states.ISNOTOK_OVERTIJD: \n        case states.ISNOTOK: {\n            msg.payload = \"Wat vervelend! <br>De sleutelbewaarder(s) zijn geinformeerd.\";\n            break;\n        }\n        default: {\n            break;\n        }\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 220,
        "wires": [
            [
                "16395cfced8c47cb"
            ]
        ]
    },
    {
        "id": "16395cfced8c47cb",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "join",
        "func": "var now = new Date();\nvar tijd_nu = now.getHours() + \":\" + ('0' + now.getMinutes()).slice(-2);;\nnode.status({ text: tijd_nu + \" \"+ msg.payload });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "1c70b188ec53d6ab",
                "0436958281830a8e"
            ]
        ]
    },
    {
        "id": "00e6d8a574603f71",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "default",
        "func": "if (msg.payload == null) {\n    msg.payload = true;\n    global.set(\"SystemOn\", true);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 400,
        "wires": [
            [
                "55706aed47335f02"
            ]
        ]
    },
    {
        "id": "f31d4676aacdfc8e",
        "type": "ui-template",
        "z": "1e372cb3d08d9182",
        "group": "",
        "page": "74e147230f204214",
        "ui": "",
        "name": "CSS button",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".JaNeeButton button {\n    font-size: 2.5em;\n}\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 630,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b2edd67c1976f042",
        "type": "mqtt in",
        "z": "1e372cb3d08d9182",
        "name": "",
        "topic": "EmailError",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0839f7b4c0cbb0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "8a224d6b4c8e6e53"
            ]
        ]
    },
    {
        "id": "8a224d6b4c8e6e53",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "error",
        "func": "let emailGebruiker = global.get(\"EmailGebruiker\") || \"\";\nlet emailSleutelbewaarder1 = global.get(\"EmailSleutelbewaarder1\") || \"\";\nlet emailSleutelbewaarder2 = global.get(\"EmailSleutelbewaarder2\") || \"\";\n\nif (!emailGebruiker.includes(\"@\")) {\n    msg.payload = \"Fout: geen email adres gebruiker.\";\n}\n\nif ((!emailSleutelbewaarder1.includes(\"@\")) && \n    (!emailSleutelbewaarder1.includes(\"@\"))) {\n    msg.payload = \"Fout: geen email adres mantelzorgers.\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 280,
        "wires": [
            [
                "16395cfced8c47cb"
            ]
        ]
    },
    {
        "id": "6ce9c1c05a07f0e4",
        "type": "ui-button",
        "z": "1e372cb3d08d9182",
        "group": "4de3d58d68afebf3",
        "name": "ALARM",
        "label": "ALARM",
        "order": 5,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "JaNeeButton",
        "icon": "",
        "iconPosition": "left",
        "payload": "neePressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "yellow",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "bf9647efa558a7d3",
                "4b53939b9023b8c0",
                "848574e93a41e0cc"
            ]
        ]
    },
    {
        "id": "7d9adb1d8b871f0c",
        "type": "ui-button",
        "z": "1e372cb3d08d9182",
        "group": "4de3d58d68afebf3",
        "name": "CANCEL",
        "label": "CANCEL",
        "order": 6,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "JaNeeButton",
        "icon": "",
        "iconPosition": "left",
        "payload": "neePressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "yellow",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 100,
        "y": 660,
        "wires": [
            [
                "f84bc5be2fce9d39",
                "074f5b05354c5090",
                "848574e93a41e0cc"
            ]
        ]
    },
    {
        "id": "229bc4f563105a3f",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "Sleutelbewaarders",
        "func": "var text = msg.payload;\n\nmsg = {\n    to: global.get(\"EmailSleutelbewaarder1\"),\n    cc: global.get(\"EmailSleutelbewaarder2\"),\n    from: \"safeathomealone@gmail.com\",\n    topic: msg.topic,\n    payload: text\n}\n\nvar tijd_nu = global.get(\"getTime\")();\nnode.status({ text: \"Send: \" + tijd_nu });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 620,
        "wires": [
            [
                "c519aa60e02572b1"
            ]
        ]
    },
    {
        "id": "c519aa60e02572b1",
        "type": "e-mail",
        "z": "1e372cb3d08d9182",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "bf9647efa558a7d3",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "Alarm tekst",
        "func": "let emailSleutelbewaarder1 = global.get(\"EmailSleutelbewaarder1\") || \"\";\nlet emailSleutelbewaarder2 = global.get(\"EmailSleutelbewaarder2\") || \"\";\n\nif (emailSleutelbewaarder1 == \"\" && emailSleutelbewaarder2 == \"\") {\n  node.status({ text: \"Send: \" + tijd_nu  + \" geen mantelzorgers\"});\n  return;\n}\n\nvar bericht = \"Beste mantelzorger, \" +\n    \"\\n\\nNeem contact op met \" +\n    global.get(\"VoornaamGebruiker\") +\n    \" want hij heeft op de Alarm knop gedrukt.\";\n\nif (emailSleutelbewaarder2 != \"\") {\n  bericht = \"Beste eerste Mantelzorger, \" +\n    \"\\n\\nNeem contact op met \" +\n    global.get(\"VoornaamGebruiker\") + \n    \" want hij heeft op de noodknop gedrukt.\" +\n    \"\\nStuur ook (via een reply to all) een bericht naar \" +\n    emailSleutelbewaarder2 + \n    \" dat je actie onderneemt.\" +\n    \"\\n\\nBeste tweede Mantelzorger,\" +\n    \"\\n\\nMocht je binnen een half uur na dit bericht geen bericht hebben ontvangen van de eerste Mantelzorger, neem dan zelf contact op met de gebruiker en laat dat de eerste Mantelzorger ook weten.\"\n}\n\nmsg.topic = \"MiniSAHA: op Alarm knop gedrukt\";\nmsg.payload = bericht;\n\nvar tijd_nu = global.get(\"getTime\")();\nnode.status({ text: \"Send: \" + tijd_nu });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 600,
        "wires": [
            [
                "229bc4f563105a3f"
            ]
        ]
    },
    {
        "id": "f84bc5be2fce9d39",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "Cancel Alarm",
        "func": "let emailSleutelbewaarder1 = global.get(\"EmailSleutelbewaarder1\") || \"\";\nlet emailSleutelbewaarder2 = global.get(\"EmailSleutelbewaarder2\") || \"\";\n\nif (emailSleutelbewaarder1 == \"\" && emailSleutelbewaarder2 == \"\") {\n  node.status({ text: \"Send: \" + tijd_nu  + \" geen mantelzorgers\"});\n  return;\n}\n\nvar bericht = \"Beste mantelzorger, \" +\n    \"\\n\\n \" +\n    global.get(\"VoornaamGebruiker\") +\n    \" heeft op Cancel Alarm gedrukt.\";\n\nmsg.topic = \"MiniSAHA: op Cancel Alarm gedrukt\";\nmsg.payload = bericht;\n\nvar tijd_nu = global.get(\"getTime\")();\nnode.status({ text: \"Send: \" + tijd_nu });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 660,
        "wires": [
            [
                "229bc4f563105a3f"
            ]
        ]
    },
    {
        "id": "4b53939b9023b8c0",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "feedback",
        "func": "msg.payload = global.get(\"getTime\")() + \": Alarm email gestuurd.\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 720,
        "wires": [
            [
                "b81cb7c076621c31"
            ]
        ]
    },
    {
        "id": "074f5b05354c5090",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "feedback",
        "func": "msg.payload = global.get(\"getTime\")() +\": Cancel email gestuurd.\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 780,
        "wires": [
            [
                "b81cb7c076621c31"
            ]
        ]
    },
    {
        "id": "f85ce69846f65989",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "clear",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 840,
        "wires": [
            [
                "b81cb7c076621c31"
            ]
        ]
    },
    {
        "id": "848574e93a41e0cc",
        "type": "delay",
        "z": "1e372cb3d08d9182",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 840,
        "wires": [
            [
                "f85ce69846f65989"
            ]
        ]
    },
    {
        "id": "6c02930ddcad9dd8",
        "type": "function",
        "z": "1e372cb3d08d9182",
        "name": "clear",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 320,
        "wires": [
            [
                "1c70b188ec53d6ab"
            ]
        ]
    },
    {
        "id": "0436958281830a8e",
        "type": "delay",
        "z": "1e372cb3d08d9182",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "6c02930ddcad9dd8"
            ]
        ]
    },
    {
        "id": "dba3182f449692bb",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TijdOK",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "c7a382e00daaa762",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "VoornaamGebruiker",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "210d4509be3e8c2a",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "EmailGebruiker",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1db2268601835331",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "EmailSleutelbewaarder2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "acdfb2cd148bff6b",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "EmailSleutelbewaarder1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ee88c907a0b09cd1",
        "type": "function",
        "z": "5c14e0941d341b42",
        "name": "Instellingen aangepast",
        "func": "msg.payload = \"Instellingen aangepast.\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "dd63a561601b450c"
            ]
        ]
    },
    {
        "id": "dd63a561601b450c",
        "type": "mqtt out",
        "z": "5c14e0941d341b42",
        "name": "",
        "topic": "Home_Response",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0839f7b4c0cbb0a8",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "c3f276a2ad7a0959",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "VoornaamGebruiker",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "VoornaamGebruiker",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "40cdbc12fde511c0"
            ]
        ]
    },
    {
        "id": "d79dc93d3be0348d",
        "type": "inject",
        "z": "5c14e0941d341b42",
        "name": "OnStartup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "4abb19d96b88ba67"
            ]
        ]
    },
    {
        "id": "03a73053ad9f3c47",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "EmailGebruiker",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EmailGebruiker",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "7722ab3d73849d23"
            ]
        ]
    },
    {
        "id": "e4c83a107e69ec69",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "EmailSleutelbewaarder1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EmailSleutelbewaarder1",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "bc64711aeceb5b57"
            ]
        ]
    },
    {
        "id": "fcb8a603643a65f9",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "EmailSleutelbewaarder2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "EmailSleutelbewaarder2",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 700,
        "wires": [
            [
                "7630404a4410cc18"
            ]
        ]
    },
    {
        "id": "895ee0f7358cef53",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "TijdOK",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "TijdOK",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 820,
        "wires": [
            [
                "0d14b59266171697",
                "655933cca9c65716"
            ]
        ]
    },
    {
        "id": "fa655697e3f1bd1d",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "MobielGebruiker",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cbe4d5b193c88548",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "MobielGebruiker",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MobielGebruiker",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "a2dcd0ec27b30c84"
            ]
        ]
    },
    {
        "id": "a6fd027bc0be280d",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IP_Mobiel",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "13c630dd78517252",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "IP_Mobiel",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "IP_Mobiel",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "3f047118cb814e7f"
            ]
        ]
    },
    {
        "id": "6827ed79fcbc1bcc",
        "type": "function",
        "z": "5c14e0941d341b42",
        "name": "help tekst",
        "func": "msg.payload = \n\"<b>Maak een email adres aan die alleen voor meldingen van deze app gebruikt gaat worden. \" +\n\"Want je wilt voor meldingen een uniek geluid kunnen kiezen.</b><br>\" +\n\"<br></b><br>\" +\n\"<b>Dat kan je doen door voor dit email adres een andere email app te gebruiken dan de standaard app. \" +\n\"Vervolgens stel je voor deze email app een uniek geluid in.</b><br>\";\nmsg.ui_update = {\n    raw: true,\n    position: \"top right\",\n    displayTime: 60,\n    allowDismiss: true,\n    color: \"green\",\n    showCountdown: true\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [
            [
                "cc825dfdb183c22b"
            ]
        ]
    },
    {
        "id": "c7a30ab24c9ec224",
        "type": "function",
        "z": "5c14e0941d341b42",
        "name": "Spaces",
        "func": "// verwijder spaties\nlet origineleString = msg.payload;\nif (origineleString == undefined) return;\nlet zonderSpaties = origineleString.replace(/\\s+/g, \"\");\nmsg.payload = zonderSpaties;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 460,
        "wires": [
            [
                "a6fd027bc0be280d",
                "996abe576c2cecb2"
            ]
        ]
    },
    {
        "id": "f39bf68dcea766f2",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "MeldPeriodeInMinuten",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "da27f195c199f6ae",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "MeldPeriodeInMinuten",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MeldPeriodeInMinuten",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "8432a47ba220719a"
            ]
        ]
    },
    {
        "id": "5cd5579edefbe928",
        "type": "function",
        "z": "5c14e0941d341b42",
        "name": "help tekst",
        "func": "msg.payload = \n\"<b>De gebruiker moet binnen de meldperiode (b.v. 60 minuten) reageren in deze app.</b><br>\" +\n\"<br></b><br>\" +\n\"<b>Zo niet, dat wordt er een email gestuurd naar de mantelzorger(s) met het verzoek contact met je op te nemen.</b><br>\";\nmsg.ui_update = {\n    raw: true,\n    position: \"top right\",\n    displayTime: 60,\n    allowDismiss: true,\n    color: \"green\",\n    showCountdown: true\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1100,
        "wires": [
            [
                "f24ffaab884e5a75"
            ]
        ]
    },
    {
        "id": "4abb19d96b88ba67",
        "type": "link out",
        "z": "5c14e0941d341b42",
        "name": "OnStartup",
        "mode": "link",
        "links": [
            "c9ec5160388cc29c",
            "ba5f9de83ae33543",
            "73afa7fb3453b035",
            "3a6f5a640cea07b3",
            "e4a4c204a25091da",
            "eb5258117d95a7ad",
            "5c2edaa6489039d0",
            "26417c5cfef73e15",
            "bdebfa0f1e99fc2e"
        ],
        "x": 225,
        "y": 40,
        "wires": []
    },
    {
        "id": "c9ec5160388cc29c",
        "type": "link in",
        "z": "5c14e0941d341b42",
        "name": "OnStartup",
        "links": [
            "4abb19d96b88ba67"
        ],
        "x": 45,
        "y": 1000,
        "wires": [
            [
                "da27f195c199f6ae"
            ]
        ]
    },
    {
        "id": "ba5f9de83ae33543",
        "type": "link in",
        "z": "5c14e0941d341b42",
        "name": "OnStartup",
        "links": [
            "4abb19d96b88ba67"
        ],
        "x": 45,
        "y": 100,
        "wires": [
            [
                "c3f276a2ad7a0959"
            ]
        ]
    },
    {
        "id": "73afa7fb3453b035",
        "type": "link in",
        "z": "5c14e0941d341b42",
        "name": "OnStartup",
        "links": [
            "4abb19d96b88ba67"
        ],
        "x": 45,
        "y": 240,
        "wires": [
            [
                "03a73053ad9f3c47"
            ]
        ]
    },
    {
        "id": "3a6f5a640cea07b3",
        "type": "link in",
        "z": "5c14e0941d341b42",
        "name": "OnStartup",
        "links": [
            "4abb19d96b88ba67"
        ],
        "x": 45,
        "y": 360,
        "wires": [
            [
                "cbe4d5b193c88548"
            ]
        ]
    },
    {
        "id": "e4a4c204a25091da",
        "type": "link in",
        "z": "5c14e0941d341b42",
        "name": "OnStartup",
        "links": [
            "4abb19d96b88ba67"
        ],
        "x": 45,
        "y": 460,
        "wires": [
            [
                "13c630dd78517252"
            ]
        ]
    },
    {
        "id": "eb5258117d95a7ad",
        "type": "link in",
        "z": "5c14e0941d341b42",
        "name": "OnStartup",
        "links": [
            "4abb19d96b88ba67"
        ],
        "x": 45,
        "y": 640,
        "wires": [
            [
                "e4c83a107e69ec69"
            ]
        ]
    },
    {
        "id": "5c2edaa6489039d0",
        "type": "link in",
        "z": "5c14e0941d341b42",
        "name": "OnStartup",
        "links": [
            "4abb19d96b88ba67"
        ],
        "x": 45,
        "y": 700,
        "wires": [
            [
                "fcb8a603643a65f9"
            ]
        ]
    },
    {
        "id": "26417c5cfef73e15",
        "type": "link in",
        "z": "5c14e0941d341b42",
        "name": "OnStartup",
        "links": [
            "4abb19d96b88ba67"
        ],
        "x": 45,
        "y": 820,
        "wires": [
            [
                "895ee0f7358cef53"
            ]
        ]
    },
    {
        "id": "40cdbc12fde511c0",
        "type": "ui-text-input",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Voornaam gebruiker",
        "label": "Voornaam gebruiker",
        "order": 1,
        "width": "0",
        "height": "0",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": "2000",
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 420,
        "y": 100,
        "wires": [
            [
                "c7a382e00daaa762",
                "ee88c907a0b09cd1"
            ]
        ]
    },
    {
        "id": "7722ab3d73849d23",
        "type": "ui-text-input",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Email gebruiker",
        "label": "Email adres gebruiker",
        "order": 2,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "email",
        "tooltip": "",
        "delay": "2000",
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "210d4509be3e8c2a"
            ]
        ]
    },
    {
        "id": "7630404a4410cc18",
        "type": "ui-text-input",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Email mantelzorger 2",
        "label": "Email adres mantelzorger 2",
        "order": 9,
        "width": "0",
        "height": "0",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": "2000",
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 460,
        "y": 700,
        "wires": [
            [
                "1db2268601835331"
            ]
        ]
    },
    {
        "id": "0d14b59266171697",
        "type": "ui-text-input",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Tijd OK",
        "label": "Tijdstip melding sturen: ben je OK?",
        "order": 11,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "time",
        "tooltip": "",
        "delay": "2000",
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": false,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 420,
        "y": 820,
        "wires": [
            [
                "dba3182f449692bb",
                "9b36b60d6131042f"
            ]
        ]
    },
    {
        "id": "bc64711aeceb5b57",
        "type": "ui-text-input",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Email mantelzorger 1",
        "label": "Email adres mantelzorger 1",
        "order": 8,
        "width": "0",
        "height": "0",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": "2000",
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 460,
        "y": 640,
        "wires": [
            [
                "acdfb2cd148bff6b"
            ]
        ]
    },
    {
        "id": "a2dcd0ec27b30c84",
        "type": "ui-text-input",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Mobiel gebruiker",
        "label": "06 nummer gebruiker",
        "order": 4,
        "width": "0",
        "height": "0",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": "2000",
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": false,
        "sendOnEnter": false,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 450,
        "y": 360,
        "wires": [
            [
                "fa655697e3f1bd1d"
            ]
        ]
    },
    {
        "id": "3f047118cb814e7f",
        "type": "ui-text-input",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "IP adres",
        "label": "WIFI IP adres van deze telefoon",
        "order": 5,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": "500",
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": false,
        "sendOnEnter": false,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 420,
        "y": 460,
        "wires": [
            [
                "c7a30ab24c9ec224"
            ]
        ]
    },
    {
        "id": "163dbba3527a1208",
        "type": "ui-text-input",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Meldperiode (in minuten)",
        "label": "Meldperiode (in minuten)",
        "order": 13,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": false,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 470,
        "y": 1000,
        "wires": [
            [
                "f39bf68dcea766f2"
            ]
        ]
    },
    {
        "id": "d1640933aa5790c8",
        "type": "ui-button",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Help IP",
        "label": "?",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 420,
        "y": 500,
        "wires": [
            [
                "21d5374db39f6f21"
            ]
        ]
    },
    {
        "id": "96d36014946018e2",
        "type": "ui-button",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Help Meldperiode",
        "label": "?",
        "order": 14,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 450,
        "y": 1100,
        "wires": [
            [
                "5cd5579edefbe928"
            ]
        ]
    },
    {
        "id": "aa21372c06ac99e6",
        "type": "ui-text",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "lege regel",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 420,
        "y": 580,
        "wires": []
    },
    {
        "id": "06e50d5277b96605",
        "type": "ui-text",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "lege regel",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 420,
        "y": 760,
        "wires": []
    },
    {
        "id": "d79891686c8e66ba",
        "type": "ui-notification",
        "z": "5c14e0941d341b42",
        "ui": "6c1d30b5f16932dd",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "60",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 810,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f24ffaab884e5a75",
        "type": "ui-notification",
        "z": "5c14e0941d341b42",
        "ui": "6c1d30b5f16932dd",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "60",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 810,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "996abe576c2cecb2",
        "type": "mqtt out",
        "z": "5c14e0941d341b42",
        "name": "",
        "topic": "IPAdressUser",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0839f7b4c0cbb0a8",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "f487e19abb196edc",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Herinnering",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "2825429d7e218b9b",
        "type": "change",
        "z": "5c14e0941d341b42",
        "name": "Herinnering",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Herinnering",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "590a24117a7d6877"
            ]
        ]
    },
    {
        "id": "bdebfa0f1e99fc2e",
        "type": "link in",
        "z": "5c14e0941d341b42",
        "name": "OnStartup",
        "links": [
            "4abb19d96b88ba67"
        ],
        "x": 35,
        "y": 1160,
        "wires": [
            [
                "2825429d7e218b9b"
            ]
        ]
    },
    {
        "id": "eecb60f839dc5afc",
        "type": "ui-text-input",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Herinnering",
        "label": "Alarm herhalen na (in minuten)",
        "order": 15,
        "width": "0",
        "height": "0",
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": false,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 430,
        "y": 1160,
        "wires": [
            [
                "f487e19abb196edc"
            ]
        ]
    },
    {
        "id": "590a24117a7d6877",
        "type": "function",
        "z": "5c14e0941d341b42",
        "name": "default 5",
        "func": "if (msg.payload == null) msg.payload = 5;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1220,
        "wires": [
            [
                "eecb60f839dc5afc"
            ]
        ]
    },
    {
        "id": "4a202b76747eac9b",
        "type": "mqtt out",
        "z": "5c14e0941d341b42",
        "name": "",
        "topic": "TijdOKChanged",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0839f7b4c0cbb0a8",
        "x": 800,
        "y": 860,
        "wires": []
    },
    {
        "id": "5dd81c36547166d6",
        "type": "function",
        "z": "5c14e0941d341b42",
        "name": "help tekst",
        "func": "msg.payload = \n\"<b>Vanaf dit moment ontvang je meldingen via email met de vraag of je OK bent.</b><br>\" +\n\"<br></b><br>\" +\n\"<b>Echter al 2 uur voor dit tijdstip kan je in de app aangeven dat je OK bent. Je krijgt dan ook geen meldingen meer.</b><br>\"\nmsg.ui_update = {\n    raw: true,\n    position: \"top right\",\n    displayTime: 60,\n    allowDismiss: true,\n    color: \"green\",\n    showCountdown: true\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 920,
        "wires": [
            [
                "e5c27da5e10601ac"
            ]
        ]
    },
    {
        "id": "5574ceb8a61ddb47",
        "type": "ui-button",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Help tijd OK",
        "label": "?",
        "order": 12,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 430,
        "y": 920,
        "wires": [
            [
                "5dd81c36547166d6"
            ]
        ]
    },
    {
        "id": "e5c27da5e10601ac",
        "type": "ui-notification",
        "z": "5c14e0941d341b42",
        "ui": "6c1d30b5f16932dd",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "60",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 810,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "21d5374db39f6f21",
        "type": "function",
        "z": "5c14e0941d341b42",
        "name": "help tekst",
        "func": "msg.payload = \n\"<b>Het IP-adres van de WIFI verbinding van je telefoon wordt gebruikt om te zien of je in huis bent. \" +\n\"Als je niet thuis bent, ontvang je geen vraag (email) of je OK bent.</b><br>\" +\n\"<br></b><br>\" +\n\"<b>Dit IP-adres kan je vinden bij Instellingen van je mobiel. \" +\n\"Voor ieder merk en type telefoon is dat anders.</b><br>\" +\n\"<br></b><br>\" +\n\"<b>Het vinden gaat ongeveer zo:</b><br>\"+\n\"<b>1. Instellingen --> Verbindingen --> WIFI.</b><br>\" +\n\"<b>2. Tik op het verbonden netwerk (of Instellingen daarnaast).</b><br>\" +\n\"<b>3. Daar zie je ergens het IP-adres staan.</b><br>\" +\n\"<br></b><br>\" +\n\"<b>Voorbeeld van een IP-adres is: '192.168.2.68'.</b><br>\";\nmsg.ui_update = {\n    raw: true,\n    position: \"top right\",\n    displayTime: 60,\n    allowDismiss: true,\n    color: \"green\",\n    showCountdown: true\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 500,
        "wires": [
            [
                "d79891686c8e66ba"
            ]
        ]
    },
    {
        "id": "8b7619373fc6f4a5",
        "type": "ui-button",
        "z": "5c14e0941d341b42",
        "group": "a50d14b208aa0231",
        "name": "Help Email gebruiker",
        "label": "?",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "6827ed79fcbc1bcc"
            ]
        ]
    },
    {
        "id": "cc825dfdb183c22b",
        "type": "ui-notification",
        "z": "5c14e0941d341b42",
        "ui": "6c1d30b5f16932dd",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "60",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 770,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d2f2d7243a624cab",
        "type": "comment",
        "z": "5c14e0941d341b42",
        "name": "Weergave is altijd AM/PM",
        "info": "",
        "x": 610,
        "y": 800,
        "wires": []
    },
    {
        "id": "8432a47ba220719a",
        "type": "function",
        "z": "5c14e0941d341b42",
        "name": "default 60",
        "func": "if (msg.payload == null) msg.payload = 60;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1060,
        "wires": [
            [
                "163dbba3527a1208"
            ]
        ]
    },
    {
        "id": "655933cca9c65716",
        "type": "function",
        "z": "5c14e0941d341b42",
        "name": "set InitTijdOK",
        "func": "flow.set(\"InitTijdOK\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "9b36b60d6131042f",
        "type": "function",
        "z": "5c14e0941d341b42",
        "name": "Changed?",
        "func": "let initTijdOK = flow.get(\"InitTijdOK\");\nif (msg.payload != initTijdOK)\n    return msg;\nelse\n    return;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 860,
        "wires": [
            [
                "4a202b76747eac9b"
            ]
        ]
    },
    {
        "id": "aba5079d86842d48",
        "type": "exec",
        "z": "805ca89d3f050d7e",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Execute shutdown",
        "x": 410,
        "y": 220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "bf7e25c268706ad2",
        "type": "exec",
        "z": "805ca89d3f050d7e",
        "command": "sudo reboot -f",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Execute restart",
        "x": 400,
        "y": 300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1579019aa55421de",
        "type": "ui-button",
        "z": "805ca89d3f050d7e",
        "group": "1770a740435c7f75",
        "name": "Shutdown computer",
        "label": "Shutdown",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "aba5079d86842d48"
            ]
        ]
    },
    {
        "id": "ea4bde27920587bf",
        "type": "ui-button",
        "z": "805ca89d3f050d7e",
        "group": "1770a740435c7f75",
        "name": "Restart computer",
        "label": "Restart",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "bf7e25c268706ad2"
            ]
        ]
    },
    {
        "id": "bb4fbd48b1bbeea0",
        "type": "ui-text",
        "z": "805ca89d3f050d7e",
        "group": "1770a740435c7f75",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Uitleg",
        "label": "Nadat het systeem uitgeschakeld is, kan je hem weer aan zetten door de voeding los te koppelen en weer aan te sluiten.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 170,
        "y": 120,
        "wires": []
    },
    {
        "id": "9c9d4e18a631cc15",
        "type": "subflow:7a37030e3e3276d9",
        "z": "672443afdce2e6a4",
        "name": "",
        "env": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "849129e5cd170f06",
                "b0067e5db1bb638b",
                "61806882e2c16761"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "6ccc00486baecf9d",
        "type": "inject",
        "z": "672443afdce2e6a4",
        "name": "At startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "ebd1eb7739312b3d",
                "1029c725dc625feb"
            ]
        ]
    },
    {
        "id": "ebd1eb7739312b3d",
        "type": "function",
        "z": "672443afdce2e6a4",
        "name": "IP adres & PingCount",
        "func": "var ipAddress = global.get(\"IP_Mobiel\");\nvar pingCount = msg.payload;\n\nmsg.payload = { IPAddress: ipAddress, PingCount: pingCount };\n\nnode.status({ fill:\"blue\", shape:\"ring\", \ntext: ipAddress + \", pingCount: \" + pingCount });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "9c9d4e18a631cc15"
            ]
        ]
    },
    {
        "id": "1029c725dc625feb",
        "type": "function",
        "z": "672443afdce2e6a4",
        "name": "GebruikerIsAtHome=false",
        "func": "global.set(\"GebruikerIsAtHome\", false);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "849129e5cd170f06",
        "type": "function",
        "z": "672443afdce2e6a4",
        "name": "set global GebruikerIsAtHome",
        "func": "global.set(\"GebruikerIsAtHome\", (msg.payload == 1));\nnode.status({ fill: \"blue\", shape: \"ring\", text: (msg.payload == 1) ? \"thuis\" : \"niet thuis\" });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6583ee879c9828e3",
        "type": "function",
        "z": "672443afdce2e6a4",
        "name": "clear",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 320,
        "wires": [
            [
                "b0067e5db1bb638b"
            ]
        ]
    },
    {
        "id": "35d2feef4b4e5406",
        "type": "inject",
        "z": "672443afdce2e6a4",
        "name": "Clear",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "3df9955a75963923"
            ]
        ]
    },
    {
        "id": "30a234133bcbd597",
        "type": "comment",
        "z": "672443afdce2e6a4",
        "name": "Precondition: sudo apt-get install arping !!!!!!!!!!!!!!!!!",
        "info": "",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "fa66a05f8c746a83",
        "type": "inject",
        "z": "672443afdce2e6a4",
        "name": "Na 2 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "120",
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "ebd1eb7739312b3d"
            ]
        ]
    },
    {
        "id": "3df9955a75963923",
        "type": "ui-button",
        "z": "672443afdce2e6a4",
        "group": "5e23302aa37603c6",
        "name": "Clear",
        "label": "Wis grafiek",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "6583ee879c9828e3"
            ]
        ]
    },
    {
        "id": "b0067e5db1bb638b",
        "type": "ui-chart",
        "z": "672443afdce2e6a4",
        "group": "5e23302aa37603c6",
        "name": "",
        "label": "Is de telefoon is in huis?",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "1",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "1000",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": "3",
        "className": "",
        "interpolation": "linear",
        "x": 790,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3758cdea9d5d1d01",
        "type": "mqtt in",
        "z": "672443afdce2e6a4",
        "name": "",
        "topic": "IPAdressUser",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0839f7b4c0cbb0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "728339c56b6087ec"
            ]
        ]
    },
    {
        "id": "61806882e2c16761",
        "type": "mqtt out",
        "z": "672443afdce2e6a4",
        "name": "",
        "topic": "PersoonThuis",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0839f7b4c0cbb0a8",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "728339c56b6087ec",
        "type": "function",
        "z": "672443afdce2e6a4",
        "name": "pingcount",
        "func": "msg.payload = 4;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 100,
        "wires": [
            [
                "ebd1eb7739312b3d"
            ]
        ]
    },
    {
        "id": "5a792b79ee924fcc",
        "type": "inject",
        "z": "af31bf2fe058f803",
        "name": "OnStart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "e677c617d3a5d29d"
            ]
        ]
    },
    {
        "id": "efef419a3cac5a8b",
        "type": "ui-button",
        "z": "af31bf2fe058f803",
        "group": "adc719ee09b9438b",
        "name": "Update",
        "label": "Update",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "buttonupdate",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 80,
        "y": 560,
        "wires": [
            [
                "6c2c688ef0fa2f63"
            ]
        ]
    },
    {
        "id": "eb3b563a66c69093",
        "type": "ui-text",
        "z": "af31bf2fe058f803",
        "group": "adc719ee09b9438b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "About",
        "label": "De MiniSAHA app is bedoeld voor de alleenstaande oudere. Met deze app kan je instellen hoe laat je een melding wilt ontvangen op je telefoon om te controleren of het goed met je gaat. Mocht je niet binnen een bepaalde tijd reageren, dan ontvangt een andere persoon (met huissleutel) een email met de vraag om te kijken hoe het met je gaat.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "226a8c5bfb54aa32",
        "type": "ui-text",
        "z": "af31bf2fe058f803",
        "group": "adc719ee09b9438b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Versie",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "38a6029999573c13",
        "type": "ui-text",
        "z": "af31bf2fe058f803",
        "group": "adc719ee09b9438b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Auteur",
        "label": "Geimplementeerd door de Digidokters SONENBREUGELVERBINDT.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "7640224f513f74de",
        "type": "exec",
        "z": "af31bf2fe058f803",
        "command": "wget https://raw.githubusercontent.com/PauLL54/minisaha/main/version.txt",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get version.txt",
        "x": 400,
        "y": 560,
        "wires": [
            [
                "44f8e182ea2d2fc3"
            ],
            [],
            []
        ]
    },
    {
        "id": "60d1d31d381e01eb",
        "type": "function",
        "z": "af31bf2fe058f803",
        "name": "rm \\n",
        "func": "msg.payload = msg.payload.replace(/[\\r\\n]+/g, '');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "940e764301d9d266",
                "95ed60f262f1803c"
            ]
        ]
    },
    {
        "id": "e677c617d3a5d29d",
        "type": "file in",
        "z": "af31bf2fe058f803",
        "name": "current version",
        "filename": ".node-red/projects/MiniSAHA/version.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "60d1d31d381e01eb"
            ]
        ]
    },
    {
        "id": "940e764301d9d266",
        "type": "change",
        "z": "af31bf2fe058f803",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "version",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "6f445b4448b59170",
        "type": "ui-text",
        "z": "af31bf2fe058f803",
        "group": "adc719ee09b9438b",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Update msg",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 650,
        "y": 680,
        "wires": []
    },
    {
        "id": "95ed60f262f1803c",
        "type": "function",
        "z": "af31bf2fe058f803",
        "name": "Versie:",
        "func": "msg.payload = \"Versie: \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "226a8c5bfb54aa32"
            ]
        ]
    },
    {
        "id": "07af420f98d0e89a",
        "type": "exec",
        "z": "af31bf2fe058f803",
        "command": "sudo systemctl restart nodered.service&",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Restart node-red",
        "x": 710,
        "y": 1000,
        "wires": [
            [
                "e91938bbca103b42"
            ],
            [],
            []
        ]
    },
    {
        "id": "6c2c688ef0fa2f63",
        "type": "exec",
        "z": "af31bf2fe058f803",
        "command": "rm version.txt*",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rm old",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "7640224f513f74de"
            ],
            [],
            []
        ]
    },
    {
        "id": "44f8e182ea2d2fc3",
        "type": "file in",
        "z": "af31bf2fe058f803",
        "name": "latest",
        "filename": "version.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 550,
        "y": 560,
        "wires": [
            [
                "5f841997def03bad"
            ]
        ]
    },
    {
        "id": "5f841997def03bad",
        "type": "function",
        "z": "af31bf2fe058f803",
        "name": "rm \\n",
        "func": "msg.payload = msg.payload.replace(/[\\r\\n]+/g, '');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 560,
        "wires": [
            [
                "8341310a2e59ed53"
            ]
        ]
    },
    {
        "id": "2632771a765ce800",
        "type": "delay",
        "z": "af31bf2fe058f803",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 720,
        "wires": [
            [
                "e91938bbca103b42"
            ]
        ]
    },
    {
        "id": "e91938bbca103b42",
        "type": "function",
        "z": "af31bf2fe058f803",
        "name": "clear",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 720,
        "wires": [
            [
                "6f445b4448b59170"
            ]
        ]
    },
    {
        "id": "8341310a2e59ed53",
        "type": "function",
        "z": "af31bf2fe058f803",
        "name": "Update?",
        "func": "var current = global.get(\"version\");\nvar latest = msg.payload;\n\nnode.status({ fill: \"blue\", shape: \"ring\", \n    text: \"current: \" + current +\n    \", latest: \" + latest    });\n\nif (latest > current) {\n    var msg2 = { payload: \"Update wordt geinstalleerd...\"};\n    return [msg, msg2];\n}\nelse {\n    var msg2 = { payload: \"Geen nieuwere versie beschikbaar.\"};\n   return [null, msg2]; \n}\nreturn msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 680,
        "wires": [
            [
                "d7ff5ad4b1b79918"
            ],
            [
                "2632771a765ce800",
                "6f445b4448b59170"
            ]
        ]
    },
    {
        "id": "d7ff5ad4b1b79918",
        "type": "exec",
        "z": "af31bf2fe058f803",
        "command": "rm MiniSAHA.json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rm MiniSAHA.json",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "7a258c3a06322d6a"
            ],
            [],
            []
        ]
    },
    {
        "id": "7a258c3a06322d6a",
        "type": "exec",
        "z": "af31bf2fe058f803",
        "command": "wget https://raw.githubusercontent.com/PauLL54/minisaha/main/MiniSAHA.json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get MiniSAHA.json",
        "x": 370,
        "y": 840,
        "wires": [
            [
                "28228f40169db06d"
            ],
            [],
            []
        ]
    },
    {
        "id": "02d2ac26c698a195",
        "type": "exec",
        "z": "af31bf2fe058f803",
        "command": "cp -f version.txt MiniSAHA_cred.json MiniSAHA.json Logo.png .node-red/projects/MiniSAHA",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Install new files",
        "x": 500,
        "y": 1000,
        "wires": [
            [
                "07af420f98d0e89a"
            ],
            [],
            []
        ]
    },
    {
        "id": "1ad8ae65c31d2570",
        "type": "inject",
        "z": "af31bf2fe058f803",
        "name": "OnStart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 780,
        "wires": [
            [
                "e91938bbca103b42"
            ]
        ]
    },
    {
        "id": "da7b21ec87871d8c",
        "type": "catch",
        "z": "af31bf2fe058f803",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "4d1dba90ae296567",
                "3a750c7cbf887af3"
            ]
        ]
    },
    {
        "id": "4d1dba90ae296567",
        "type": "function",
        "z": "af31bf2fe058f803",
        "name": "0000-00-00",
        "func": "msg.payload = \"0000-00-00\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 340,
        "wires": [
            [
                "95ed60f262f1803c",
                "940e764301d9d266"
            ]
        ]
    },
    {
        "id": "a1659a56c324e2cc",
        "type": "inject",
        "z": "af31bf2fe058f803",
        "name": "At 00:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "6c2c688ef0fa2f63"
            ]
        ]
    },
    {
        "id": "d706900fa126e361",
        "type": "ui-template",
        "z": "af31bf2fe058f803",
        "group": "",
        "page": "1dd0da4fdcd94089",
        "ui": "",
        "name": "CSS button",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".buttonupdate button {\n    font-size: 1.7em;\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "buttonupdate",
        "x": 90,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "template1",
        "type": "ui-template",
        "z": "af31bf2fe058f803",
        "group": "adc719ee09b9438b",
        "page": "",
        "ui": "",
        "name": "Afbeelding tonen",
        "order": 3,
        "width": "3",
        "height": "3",
        "format": "<div style=\"text-align:center;\">\n    <img src=\"http://127.0.0.0:1880/images/Logo.png\" \n         style=\"max-width:40%; height:auto;\" />\n</div>",
        "storeOutMessages": true,
        "passthru": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "http_in",
        "type": "http in",
        "z": "af31bf2fe058f803",
        "name": "get",
        "url": "/images/Logo.png",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "file_in"
            ]
        ]
    },
    {
        "id": "file_in",
        "type": "file in",
        "z": "af31bf2fe058f803",
        "name": "filename",
        "filename": "/home/pi/.node-red/projects/MiniSAHA/Logo.png",
        "filenameType": "str",
        "format": "",
        "allProps": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "http_response"
            ]
        ]
    },
    {
        "id": "http_response",
        "type": "http response",
        "z": "af31bf2fe058f803",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "0ba4fb53b2295e43",
        "type": "ui-text",
        "z": "af31bf2fe058f803",
        "group": "adc719ee09b9438b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "lege regel",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "2d1123c7d83fdc23",
        "type": "ui-text",
        "z": "af31bf2fe058f803",
        "group": "adc719ee09b9438b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "lege regel",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "477a82641741c1d2",
        "type": "exec",
        "z": "af31bf2fe058f803",
        "command": "wget https://raw.githubusercontent.com/PauLL54/minisaha/main/Logo.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get Logo.png",
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "02d2ac26c698a195"
            ],
            [],
            []
        ]
    },
    {
        "id": "6ba99393e4c393d8",
        "type": "exec",
        "z": "af31bf2fe058f803",
        "command": "rm Logo.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rm Logo.png",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "477a82641741c1d2"
            ],
            [],
            []
        ]
    },
    {
        "id": "28228f40169db06d",
        "type": "exec",
        "z": "af31bf2fe058f803",
        "command": "rm MiniSAHA_cred.json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rm MiniSAHA_cred.json",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "62cf14493c558309"
            ],
            [],
            []
        ]
    },
    {
        "id": "62cf14493c558309",
        "type": "exec",
        "z": "af31bf2fe058f803",
        "command": "wget https://raw.githubusercontent.com/PauLL54/minisaha/main/MiniSAHA_cred.json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get MiniSAHA_cred.json",
        "x": 430,
        "y": 920,
        "wires": [
            [
                "6ba99393e4c393d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "3a750c7cbf887af3",
        "type": "debug",
        "z": "af31bf2fe058f803",
        "name": "catch all About",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 280,
        "wires": []
    },
    {
        "id": "5624329dd5cb5b0a",
        "type": "inject",
        "z": "eb60a9ea21d42f29",
        "name": "OnStart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "97382ae72dc98a86"
            ]
        ]
    },
    {
        "id": "ac6f3d5c09bce733",
        "type": "ui-button",
        "z": "eb60a9ea21d42f29",
        "group": "b71c0e77d9debcfd",
        "name": "Test update",
        "label": "Test update ",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "buttonupdate",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "148566cf72b33e1a"
            ]
        ]
    },
    {
        "id": "6fb7570706461807",
        "type": "ui-text",
        "z": "eb60a9ea21d42f29",
        "group": "b71c0e77d9debcfd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "About",
        "label": "Deze pagina is alleen bedoeld voor testers.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "29faaa6a019e0e9b",
        "type": "ui-text",
        "z": "eb60a9ea21d42f29",
        "group": "b71c0e77d9debcfd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Test versie",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "6f0b74ba5a27cc3e",
        "type": "exec",
        "z": "eb60a9ea21d42f29",
        "command": "wget https://raw.githubusercontent.com/PauLL54/minisaha/main/version_test.txt",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get version_test.txt",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "98ddd266a3e4c998"
            ],
            [],
            []
        ]
    },
    {
        "id": "2c5db89378881214",
        "type": "function",
        "z": "eb60a9ea21d42f29",
        "name": "rm \\n",
        "func": "msg.payload = msg.payload.replace(/[\\r\\n]+/g, '');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "2d76e161b54a56ff",
                "e3e7c591d92d8d6d"
            ]
        ]
    },
    {
        "id": "97382ae72dc98a86",
        "type": "file in",
        "z": "eb60a9ea21d42f29",
        "name": "current test version",
        "filename": ".node-red/projects/MiniSAHA/version_test.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "2c5db89378881214"
            ]
        ]
    },
    {
        "id": "2d76e161b54a56ff",
        "type": "change",
        "z": "eb60a9ea21d42f29",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "version_test",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8d171fe450c7a81f",
        "type": "ui-text",
        "z": "eb60a9ea21d42f29",
        "group": "b71c0e77d9debcfd",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Update msg",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 520,
        "wires": []
    },
    {
        "id": "e767f97b37bd3e7f",
        "type": "exec",
        "z": "eb60a9ea21d42f29",
        "command": "sudo reboot",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Reboot",
        "x": 700,
        "y": 840,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "148566cf72b33e1a",
        "type": "exec",
        "z": "eb60a9ea21d42f29",
        "command": "rm version_test.txt",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rm old",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "6f0b74ba5a27cc3e"
            ],
            [],
            []
        ]
    },
    {
        "id": "98ddd266a3e4c998",
        "type": "file in",
        "z": "eb60a9ea21d42f29",
        "name": "latest",
        "filename": "version_test.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "bce54c96101eb7b7"
            ]
        ]
    },
    {
        "id": "bce54c96101eb7b7",
        "type": "function",
        "z": "eb60a9ea21d42f29",
        "name": "rm \\n",
        "func": "msg.payload = msg.payload.replace(/[\\r\\n]+/g, '');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 400,
        "wires": [
            [
                "59d5c77dc1dc2a60"
            ]
        ]
    },
    {
        "id": "db6b4ac55c770429",
        "type": "delay",
        "z": "eb60a9ea21d42f29",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 560,
        "wires": [
            [
                "aefcaf0124832705"
            ]
        ]
    },
    {
        "id": "aefcaf0124832705",
        "type": "function",
        "z": "eb60a9ea21d42f29",
        "name": "clear",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 560,
        "wires": [
            [
                "8d171fe450c7a81f"
            ]
        ]
    },
    {
        "id": "59d5c77dc1dc2a60",
        "type": "function",
        "z": "eb60a9ea21d42f29",
        "name": "Update?",
        "func": "var current = global.get(\"version_test\");\nvar latest = msg.payload;\n\nnode.status({ fill: \"blue\", shape: \"ring\", \n    text: \"current: \" + current +\n    \", latest: \" + latest    });\n\nif (latest > current) {\n    var msg2 = { payload: \"Test update wordt geinstalleerd...\"};\n    return [msg, msg2];\n}\nelse {\n    var msg2 = { payload: \"Geen nieuwere test versie beschikbaar.\"};\n   return [null, msg2]; \n}\nreturn msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 520,
        "wires": [
            [
                "e4030f3dae1eb9a5"
            ],
            [
                "db6b4ac55c770429",
                "8d171fe450c7a81f"
            ]
        ]
    },
    {
        "id": "e4030f3dae1eb9a5",
        "type": "exec",
        "z": "eb60a9ea21d42f29",
        "command": "rm MiniSAHA.json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rm MiniSAHA.json",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "01c9f9d135d750e0"
            ],
            [],
            []
        ]
    },
    {
        "id": "01c9f9d135d750e0",
        "type": "exec",
        "z": "eb60a9ea21d42f29",
        "command": "wget https://raw.githubusercontent.com/PauLL54/minisaha/main/MiniSAHA.json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get MiniSAHA.json",
        "x": 390,
        "y": 680,
        "wires": [
            [
                "e4aa96fb7a69092f"
            ],
            [],
            []
        ]
    },
    {
        "id": "cd4dcc62417a8f98",
        "type": "exec",
        "z": "eb60a9ea21d42f29",
        "command": "cp -f version_test.txt MiniSAHA_cred.json MiniSAHA.json Logo.png .node-red/projects/MiniSAHA",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Install new files",
        "x": 520,
        "y": 840,
        "wires": [
            [
                "e767f97b37bd3e7f"
            ],
            [],
            []
        ]
    },
    {
        "id": "ca12465c285a07be",
        "type": "inject",
        "z": "eb60a9ea21d42f29",
        "name": "OnStart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 620,
        "wires": [
            [
                "aefcaf0124832705"
            ]
        ]
    },
    {
        "id": "6cdb9cd1a55cd9dd",
        "type": "catch",
        "z": "eb60a9ea21d42f29",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "5fe7d4a09964b635",
                "233943e79ec596cb"
            ]
        ]
    },
    {
        "id": "5fe7d4a09964b635",
        "type": "function",
        "z": "eb60a9ea21d42f29",
        "name": "0000-00-00",
        "func": "msg.payload = \"0000-00-00\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 120,
        "wires": [
            [
                "2d76e161b54a56ff",
                "e3e7c591d92d8d6d"
            ]
        ]
    },
    {
        "id": "82ea9c0c0b1c8052",
        "type": "ui-template",
        "z": "eb60a9ea21d42f29",
        "group": "",
        "page": "c5ea61b98d8ee55d",
        "ui": "",
        "name": "CSS button",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".buttonupdate button {\n    font-size: 1.7em;\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "buttonupdate",
        "x": 110,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c0a40759fa63b7d2",
        "type": "exec",
        "z": "eb60a9ea21d42f29",
        "command": "wget https://raw.githubusercontent.com/PauLL54/minisaha/main/Logo.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get Logo.png",
        "x": 330,
        "y": 840,
        "wires": [
            [
                "cd4dcc62417a8f98"
            ],
            [],
            []
        ]
    },
    {
        "id": "2ff6443c3045fe74",
        "type": "exec",
        "z": "eb60a9ea21d42f29",
        "command": "rm Logo.png",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rm Logo.png",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "c0a40759fa63b7d2"
            ],
            [],
            []
        ]
    },
    {
        "id": "ee8a0693e25115af",
        "type": "exec",
        "z": "eb60a9ea21d42f29",
        "command": "rm MiniSAHA_cred.json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rm MiniSAHA_cred.json",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "a2f6500a90a362f9"
            ],
            [],
            []
        ]
    },
    {
        "id": "a2f6500a90a362f9",
        "type": "exec",
        "z": "eb60a9ea21d42f29",
        "command": "wget https://raw.githubusercontent.com/PauLL54/minisaha/main/MiniSAHA_cred.json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get MiniSAHA_cred.json",
        "x": 450,
        "y": 760,
        "wires": [
            [
                "2ff6443c3045fe74"
            ],
            [],
            []
        ]
    },
    {
        "id": "233943e79ec596cb",
        "type": "debug",
        "z": "eb60a9ea21d42f29",
        "name": "catch all About",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "cf26a57d1005572c",
        "type": "ui-text",
        "z": "eb60a9ea21d42f29",
        "group": "b71c0e77d9debcfd",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "current state",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "e3e7c591d92d8d6d",
        "type": "function",
        "z": "eb60a9ea21d42f29",
        "name": "Test versie:",
        "func": "msg.payload = \"Test versie: \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 120,
        "wires": [
            [
                "29faaa6a019e0e9b"
            ]
        ]
    },
    {
        "id": "d583ac186ef8a881",
        "type": "function",
        "z": "eb60a9ea21d42f29",
        "name": "Current state:",
        "func": "msg.payload = \"Current state: \" + global.get(\"currentState\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "cf26a57d1005572c"
            ]
        ]
    },
    {
        "id": "bb38bf4d651c4d16",
        "type": "inject",
        "z": "eb60a9ea21d42f29",
        "name": "At 00:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "148566cf72b33e1a"
            ]
        ]
    },
    {
        "id": "e4aa96fb7a69092f",
        "type": "delay",
        "z": "eb60a9ea21d42f29",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 680,
        "wires": [
            [
                "ee8a0693e25115af"
            ]
        ]
    },
    {
        "id": "77c215ccfe6da5af",
        "type": "mqtt in",
        "z": "eb60a9ea21d42f29",
        "name": "",
        "topic": "StateChanged",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0839f7b4c0cbb0a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "d583ac186ef8a881"
            ]
        ]
    }
]